USE [master]
GO
/****** Object:  Database [MCashWasa]    Script Date: 10/26/2017 7:19:56 PM ******/
CREATE DATABASE [MCashWasa]
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MCashWasa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MCashWasa]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 10/26/2017 7:19:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BankAccount](
	[AccountNumber] [varchar](100) NOT NULL,
	[AccountHolder] [varchar](200) NULL,
	[AccountCurrency] [varchar](200) NULL,
	[OpeningBalance] [numeric](18, 2) NULL,
	[ClosingBalance] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 10/26/2017 7:19:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TransactionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](100) NOT NULL,
	[TransactionDate] [datetime] NULL,
	[Reference] [varchar](100) NULL,
	[Description] [varchar](500) NULL,
	[Debit] [decimal](18, 2) NULL,
	[Credit] [decimal](18, 2) NULL,
	[Balance] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TransactionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
Use [MCashWasa]

INSERT INTO [dbo].[BankAccount]
           ([AccountNumber]
           ,[AccountHolder]
           ,[AccountCurrency]
           ,[OpeningBalance]
           ,[ClosingBalance])
     VALUES
           ('342344343434'
           ,'Ehasanul Hoque'
           ,'BDT'
           ,-20000
           ,-20000
		   )
